name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install sqlite
        run: apt update && apt -y install sqlite3 libsqlite3-dev

      - name: Setup flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.6'
          channel: 'stable'
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}

      - name: Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Check licenses
        run: |
          dart pub global activate very_good_cli
          dart pub global run very_good_cli:very_good packages check licenses \
            --dependency-type='direct-main,transitive' \
            --allowed='MIT,BSD-3-Clause,BSD-2-Clause,Apache-2.0,Zlib'

      - name: Analyze code (lint)
        run: flutter analyze --fatal-infos --fatal-warnings

      - name: Analyze code (format)
        run: dart format --set-exit-if-changed .

      - name: Run test
        run: flutter test --coverage

      - name: Check test coverage
        uses: VeryGoodOpenSource/very_good_coverage@v2
        with:
          path: '${{ github.workspace }}/coverage/lcov.info'
          min_coverage: 60
